*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height:170px;
    width: 170px;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    /* opacity: 0.3; */
    background-color: #081b31;
}



img{
    height:  150px;
    width: 150px;
    object-fit: cover;
    border-radius: 45%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 3rem;
}

.score{
    display: grid;
    gap: 1.4rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    display: inline;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}